<!doctype html>
<html lang="en">

	<head>
		<meta charset="utf-8">

		<title>Grunt All the Things!! Even Drupal! - MidCamp 2015</title>

		<meta name="description" content="Build tools are all the rage, so let's use them with Drupal">
		<meta name="author" content="Fredric Mitchell">

		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />

		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui">

		<link rel="stylesheet" href="css/reveal.css">
		<link rel="stylesheet" href="css/theme/midcamp-color.css" id="theme">

		<!-- Code syntax highlighting -->
		<link rel="stylesheet" href="lib/css/zenburn.css">

		<!-- Printing and PDF exports -->
		<script>
			var link = document.createElement( 'link' );
			link.rel = 'stylesheet';
			link.type = 'text/css';
			link.href = window.location.search.match( /print-pdf/gi ) ? 'css/print/pdf.css' : 'css/print/paper.css';
			document.getElementsByTagName( 'head' )[0].appendChild( link );
		</script>

		<!--[if lt IE 9]>
		<script src="lib/js/html5shiv.js"></script>
		<![endif]-->
	</head>

	<body>

		<div class="reveal">

            <div class="footer">
                <div class="branding--logo">
                    <span class="logo__image"><img src="lib/image/content/logo.png" alt="MidCamp 2015 logo" height="55px" /></span>
                    <p class="logo__site-name">#MidCamp</p>
                </div>
                <div class="session--info">
                    <p class="session__title">Grunt All the Things!! Even Drupal! <span class="seperator">&nbsp;/&nbsp;</span></p>
                    <p class="session__presenter"><a href="http://twitter.com/fredricmitchell">@fredricmitchell</a></p>
                </div>
            </div>

			<!-- Any section element inside of this container is displayed as a slide -->
			<div class="slides">
                <section>
                    <h1>Grunt All the Things!! Even Drupal!</h1>
                    <h3>http://bit.ly/dp-grunt</h3>
                    <h3>MidCamp 2015</h3>
                    <h3>#MidCamp</h3>
                </section>

                <section>
                    <h2>Assumptions</h2>
                    <ol>
                        <li class="fragment">Learn something new</li>
                        <li class="fragment">Show Me the Code!</li>
                        <li class="fragment">Written something with Javascript</li>
                        <li class="fragment">Integrate best practices</li>
                    </ol>
                </section>

                <section>
                    <section>
                        <h2>Better Weekdays</h2>
                        <h3>V.P. of Engineering</h3>
                        <p>
                            <img src="http://distilleryimage8.ak.instagram.com/039fa8ee425811e3939222000a9f1385_8.jpg" height="450px"/>
                        </p>
                    </section>
                    <section>
                        <h2>Better Weekdays</h2>
                        <p>http://betterweekdays.com</p>
                        <p>
                            <img src="http://images.ak.instagram.com/media/2011/08/03/9834110b48784fcf95e9c5f3e96c4da9_7.jpg" height="450px"/>
                        </p>
                    </section>
                </section>

                <section>
                    <section>
                        <h2><strike>Building</strike> Making Drupal</h2>
                        <p class="fragment">Drush make</p>
                        <p class="fragment">http://www.drush.org/en/master/make/</p>
                    </section>
                    <section>
                        <h2>Simplify</h2>
                        <p class="fragment">Keep contrib out of version control</p>
                        <p class="fragment">Use external libraries</p>
                    </section>
                    <section>
                        <h2>Transparency</h2>
                        <p class="fragment">Declarative builds</p>
                        <p class="fragment">Easily reproduce</p>
                        <p class="fragment">Log output</p>
                    </section>
                    <section>
                        <h2>Improve Quality</h2>
                        <p class="fragment">Test. Test. Test.</p>
                        <p class="fragment">Development standards</p>
                        <p class="fragment">Track metrics</p>
                    </section>
                </section>

                <section>
                    <section>
                        <h2>Grunt</h2>
                        <p>http://gruntjs.com/</p>
                        <p>A Javascript Task Runner</p>
                    </section>
                    <section>
                        <h2>Why?</h2>
                        <p class="fragment">Automation</p>
                        <p class="fragment">Simple Node.js requirement</p>
                        <p class="fragment">Lots of plugins</p>
                    </section>
                    <section>
                        <h2>How?</h2>
                        <p>
                            <pre>
                                <code data-trim contenteditable>
                                    npm install -g grunt-cli
                                </code>
                            </pre>
                        </p>
                        <p>Gruntfile.js, Gruntconfig.json</p>
                    </section>
                </section>

                <section>
                    <section>
                        <h2>Grunt Drupal Tasks</h2>
                        <p>https://github.com/phase2/grunt-drupal-tasks</p>
                        <p class="fragment">Make, PHPCS, Behat</p>
                    </section>
                    <section>
                        <img src="gifs/grunt-drupal-intro.gif" height="575px"/>
                    </section>
                    <section>
                        <h2>Scaffolding</h2>
                        <img src="https://www.evernote.com/shard/s236/sh/959a4a62-edb6-43b2-9283-c20f4b62ac98/51d9beb042dd8e9ce0a410ddeeadd878/res/48c5fc82-b17a-450e-b488-ce362208940e/skitch.png" height="500px" />
                    </section>
                </section>

                <section>
                    <section>
                        <h2>Customize for Project</h2>
                        <p class="fragment">src/modules</p>
                        <p class="fragment">src/themes</p>
                        <p class="fragment">src/sites</p>
                        <p class="fragment">src/profiles</p>
                        <p class="fragment">src/PROJECT.make</p>
                    </section>
                    <section>
                        <h2>src</h2>
                        <img src="https://www.evernote.com/shard/s236/sh/c6b863e0-7e4a-4fc4-a93d-504cd902ec63/138847faf12f16273b2581a5d8b6c1bc/res/36dc9327-2cb1-4645-b32f-4b4053df65a2/skitch.png" height="500px" />
                    </section>
                    <section>
                        <h2>Edit Gruntconfig.json</h2>
                        <p>Make sure srcPaths > make points to right make file</p>
                    </section>
                    <section>
                        <h2>src/PROJECT.make</h2>
                        <p class="fragment">Core version</p>
                        <p class="fragment">Contrib module, release number, patches</p>
                        <p class="fragment">External libraries</p>
                    </section>
                    <section>
                        <img src="https://www.evernote.com/shard/s236/sh/5773e129-504a-49a2-812e-47e4f2a9cb63/4b7998ccb6363be67cb4548256a10826/res/5984bda7-4fed-4691-b8e3-220031dfbf1e/skitch.png" height="575px" />
                    </section>
                </section>

                <section>
                    <h2>Time to build!</h2>
                </section>

                <section>
                    <img src="gifs/grunt-build.gif" height="575px" />
                </section>

                <section>
                    <section>
                        <h2>Validate and Check for Errors</h2>
                    </section>

                    <section>
                        <img src="gifs/grunt-validate-error.gif" height="575px" />
                    </section>

                    <section>
                        <h2>Sniff the code</h2>
                    </section>

                    <section>
                        <img src="gifs/grunt-validate.gif" height="575px" />
                    </section>
                </section>

                <section>
                    <section>
                        <h2>Automation has Power</h2>
                        <p class="fragment">Makes our site portable, shareable</p>
                        <p class="fragment">Reviewing VCS history is 'easier'</p>
                        <p class="fragment">Connect it to other processes</p>
                    </section>
                    <section>
                        <h2>CI: Jenkins</h2>
                        <img src="https://www.evernote.com/shard/s236/sh/16596755-ad56-4c15-8791-562c90c3468a/976304b1461f88c2653174b2b70d2338/res/8141057e-1c65-4afd-b676-6a36a2ed37b9/skitch.png" height="500px" />
                    </section>
                    <section>
                        <h2>Client-side: SASS, Pattern Lab </h2>
                        <img src="https://www.evernote.com/shard/s236/sh/404d6089-eb86-4dbb-b45d-6c5098257def/551dabcf141a6c60668d714638aba28f/res/19df4ee2-203c-4595-8d79-7fd626db492a/skitch.png" height="500px" />
                    </section>
                    <section>
                        <h2>Deploy: Pantheon</h2>
                        <img src="https://www.evernote.com/shard/s236/sh/db590073-b709-4658-b1ab-14dc8d857b98/b109152abce9841eb369423b5cd247ce/res/1fbd2d45-2e55-4eff-88f3-94216c2d2bef/skitch.png" height="500px" />
                    </section>
                </section>

                <section>
                    <h2>Extending Gruntfile.js</h2>
                    <h3>grunt-shell example</h3>
                    <p>
                        <pre>
                            <code data-trim contenteditable>
                                // Patternlab, Pantheon shell commands
grunt.extendConfig({
    shell: {
        bower_install: {
            command: "bower install"
        },
        patternlab_build: {
            command: "cd patternlab; grunt build; php core/builder.php -g"
        },
        patternlab_watch: {
            command: "php patternlab/core/builder.php -gp"
        },
        pantheon_clean: {
            command: [
                'cd <%= config.buildPaths.pantheon %>',
                'rm -Rf sites/all/',
                'rm -Rf profiles/mskcfs'
            ].join('&&')
        },
        pantheon: {
            command: [
                'cd <%= config.buildPaths.pantheon %>',
                'git add -A *',
                'git commit -m "<%= grunt.option("message") %>"',
                'git push origin master'
            ].join('&&')
        }
    }
});
                            </code>
                        </pre>
                    </p>
                </section>

                <section>
                    <h2>Questions?</h2>
                </section>

                <section>
                    <h3>Sprint Sunday 09:00-17:00</h3>
                    <h3>UIC SCE Tower, Room 605 <small>750 S. Halsted</small></h3>
                    <p>http://2015.midcamp.org/schedule</p>
                    <p>Learn through contribution</p>
                    <p>Contributors of all skill sets and levels are welcome and encouraged.</p>
                </section>

                <section>
                    <h2>Thank You!</h2>
                    <h3>Slides</h3>
                    <p>http://bit.ly/dp-grunt</p>
                    <h3>Feedback</h3>
                    <p>https://joind.in/talk/view/13792</p>
                    <h3>@fredricmitchell</h3>
                    <h3>#MidCamp</h3>
                </section>

			</div>

		</div>

		<script src="lib/js/head.min.js"></script>
		<script src="js/reveal.js"></script>

		<script>

			// Full list of configuration options available at:
			// https://github.com/hakimel/reveal.js#configuration
			Reveal.initialize({
				controls: true,
				progress: true,
				history: true,
				center: true,

				transition: 'slide', // none/fade/slide/convex/concave/zoom

				// Optional reveal.js plugins
				dependencies: [
					{ src: 'lib/js/classList.js', condition: function() { return !document.body.classList; } },
					{ src: 'plugin/markdown/marked.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
					{ src: 'plugin/markdown/markdown.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
					{ src: 'plugin/highlight/highlight.js', async: true, condition: function() { return !!document.querySelector( 'pre code' ); }, callback: function() { hljs.initHighlightingOnLoad(); } },
					{ src: 'plugin/zoom-js/zoom.js', async: true },
					{ src: 'plugin/notes/notes.js', async: true }
				]
			});

		</script>

	</body>
</html>
